{%extends "layout.html"%}
{%block content%}
<div class = "home"
    <h1> Samieh Abdeljabar </h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta itaque nesciunt omnis ad! Magnam est odit, veritatis architecto vel cupiditate quaerat doloremque corporis ad illo excepturi et ex iste at!</p>
    <ul>
        <li>I want this website to be my portfolio website</li>
        <li>So I want this website to represent my knowledge in flask, HTML, and CSS</li>
        <li>I will add other frameworks as well too</li>
        
    </ul>
</div>
{%endblock%}
